.dashboard-qr-code{
    text-align: center;
    width: 250px;
    margin: 50 auto 0 !important;
}
.gaurd_qr_scanner{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 350px;
    border: 2px solid grey;
}

.qr-scanner {
    width: 350px;
    height: 350px;
    margin: auto;
  }