.dashboard-qr-code{
    margin-top: 50px;
    text-align: center;
}
.gaurd_qr_scanner{
    text-align: center;
    margin: auto;
    width: 350px;
    height: 350px;
    border: 2px solid grey;
}

.qr-scanner {
    width: 350px;
    height: 350px;
    margin: auto;
  }