.nav-wrapper{
    background: teal;
}
.cnav{
    display: flex;
    width: 100%;
    justify-content: flex-end;

    a{
        display: inline-block;
        text-decoration: none;
        color: white;
        padding: 15px 20px;
    }
}
#mobile_menu_btn{
    display: none;
}
@media (max-width: 768px){
    #mobile_menu_btn{
        display: inline-block;
        border: 0;
        background: inherit;
    }
}
button:focus{
    outline: none !important;
}
.open-nav{
    background: #000;
}